/* Montserrat */
/* Montserrat Thin Italic*/
@font-face {
    font-family: "Montserrat";
    src: url(Montserrat/static/Montserrat-ThinItalic.ttf) format("truetype");
    font-weight: 100;
    font-style: italic;
}

/* Montserrat Thin */

@font-face {
    font-family: "Montserrat";
    src: url(Montserrat/static/Montserrat-Thin.ttf) format("truetype");
    font-weight: 100;
    font-style: normal;
}

/* Montserrat ExtraLight Italic */

@font-face {
    font-family: "Montserrat";
    src: url(Montserrat/static/Montserrat-ExtraLightItalic.ttf) format("truetype");
    font-weight: 200;
    font-style: italic;
}

/* Montserrat ExtraLight */

@font-face {
    font-family: "Montserrat";
    src: url(Montserrat/static/Montserrat-ExtraLight.ttf) format("truetype");
    font-weight: 200;
    font-style: normal;
}

/* Montserrat Light */

@font-face {
    font-family: "Montserrat";
    src: url(Montserrat/static/Montserrat-Light.ttf) format("truetype");
    font-weight: 300;
    font-style: normal;
}

/* Montserrat Light Italic */

@font-face {
    font-family: "Montserrat";
    src: url(Montserrat/static/Montserrat-LightItalic.ttf) format("truetype");
    font-weight: 300;
    font-style: italic;
}

/* Montserrat Regular */

@font-face {
    font-family: "Montserrat";
    src: url(Montserrat/static/Montserrat-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

/* Montserrat Italic */

@font-face {
    font-family: "Montserrat";
    src: url("Montserrat/static/Montserrat-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}

/* Montserrat Medium */

@font-face {
    font-family: "Montserrat";
    src: url("Montserrat/static/Montserrat-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

/* Montserrat Medium Italic */

@font-face {
    font-family: "Montserrat";
    src: url("Montserrat/static/Montserrat-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
}

/* Montserrat SemiBold */

@font-face {
    font-family: "Montserrat";
    src: url("Montserrat/static/Montserrat-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

/* Montserrat SemiBold Italic */

@font-face {
    font-family:"Montserrat";
    src: url("Montserrat/static/Montserrat-SemiBoldItalic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
}

/* Montserrat Bold */


@font-face {
    font-family: "Montserrat";
    src: url("Montserrat/static/Montserrat-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

/* Montserrat Bold Italic */

@font-face {
    font-family: "Montserrat";
    src: url("Montserrat/static/Montserrat-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
}

/* Montserrat ExtraBold */
@font-face {
    font-family: "Montserrat";
    src: url("Montserrat/static/Montserrat-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

/* Montserrat ExtraBold Italic */

@font-face {
    font-family: "Montserrat";
    src: url("Montserrat/static/Montserrat-ExtraBoldItalic.ttf") format("truetype");
    font-weight: 800;
    font-style: italic;
}

/* Montserrat Black */

@font-face {
    font-family: "Montserrat";
    src: url("Montserrat/static/Montserrat-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

/* Montserrat Black Italic */

@font-face {
    font-family: "Montserrat";
    src: url("Montserrat/static/Montserrat-BlackItalic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
}


/* Roboto */