html, body {
    margin: 0;
    font-family: Montserrat;
    background-color: #393424;
}

* {
    box-sizing: border-box;
}

.header {
    height: 100vh;
}


.nav {
    width: 100%;
    margin: 0;
    padding: 10px;
    font-family: Montserrat;
    background-color: #489;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.image__container {
    display: flex;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.nav__ul {
    box-sizing: border-box;
    gap: 10px;
}

.nav__link {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    margin: 10px;
}

.nav__link:hover {
    text-decoration: underline;
}

nav img {
    width: 50px;
    height: 50px;
}

/* Header of the principal page */
.header-title {
    height: 90%;
    padding: 0 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2)), url(/uploads/campo-lavanda.webp);
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
}

/* Styles of the text of the h1 of header-title  */
.first-title {
    margin: 0;
    font-family: Montserrat;
    font-size: 50px;
    font-weight: 500;
    font-style: normal;
    color: #fff;
}

/* Estilos de texto del párrafo de header-title */
.first-p {
    margin: 0;
    margin-top: 20px;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    color: #fff;
}

/* Div para artículos recientes (sin javascript) */
.articles-container {
    margin: 110px 50px;
    box-sizing: border-box;
}

/* Div compatible con 2 divs en estilo flexbox */
.flexbox {
    margin: 50px 0;
    width: 100%;
    min-height: 300px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

/* Estilos de flexbox horizontal */
.flexbox__flex-item {
    padding: 20px 30px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    box-sizing: border-box;
}

/* Estilos de div verde claro */
.box {
    background-color: #5C5235;
    margin: 10px 0;
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
}

/* IDs */
#sansevieria {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4)), url(/uploads/sansevieria.webp);
    background-size: cover;
    background-position: center;
}

#sansevieria:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url(/uploads/sansevieria.webp);
}

#cactus {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4)), url(/uploads/cactus.webp);
    background-size: cover;
    background-position: center;
}

#cactus:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url(/uploads/cactus.webp);
}

/* White Standar H2 30px */
.h2 {
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 400;
    color: #fff;
    margin: 0;
}

/* White Secondary H2 24px */
.h2--secondary {
    font-size: 24px;
}

/* White Standar P 18px */
.p {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    color: #fff;
}

/* White Secondary P 16px */
.p--secondary {
    font-size: 16px;
}

/* White Button */
.button {
    background-color: #fff;
    margin: 10px 0;
    padding: 16px 8px;
    border: 2px solid #fff;
    font-family: "Montserrat";
    font-size: 16px;
    font-style: normal;
    color: #393424;
    box-sizing: border-box;
}

.button:hover {
    border: 2px solid #393424;
}
/* Paleta de Colores: a6ebc9; 61FF7E; 5EEB5B; 62AB37; 393424, 5C5235 */

@media screen and (max-width: 600px) {
    .flexbox {
        display: flex;
        flex-direction: column;
    }
}