html {
    background-color: #393424;
}

body {
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}

/* Header of the principal page */
.header-title {
    margin: 0;
    padding: 120px 110px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2)), url(/uploads/campo-lavanda.webp);
    background-size: cover;
}

/* Styles of the text of the h1 of header-title  */
.first-title {
    font-family: Montserrat;
    font-size: 50px;
    font-weight: 500;
    font-style: normal;
    color: #fff;
}

/* Estilos de texto del párrafo de header-title */
.first-p {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    color: #fff;
}

/* Márgen horizontal */
.horizontal-margin {
    margin: 0 50px;
}

/* Div para artículos recientes (sin javascript) */
.articles {
    margin: 110px 0;
    box-sizing: border-box
}

/* Div compatible con 2 divs en estilo flexbox */
.box-2 {
    margin: 50px 0;
    width: 100%;
    height: 300px;
    box-sizing: border-box;
    display: flex;
    box-sizing: border-box;
    gap: 20px;
}

/* Estilos de flexbox horizontal */
.flexbox-x {
    padding: 95px 20px;
    width: 100%;
    height: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: border-box;
}

/* Estilos de div verde claro */
.light_green_box {
    background-color: #5C5235;
    margin: 0px 0px 50px 0px;
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
}

/* IDs */
#sansevieria {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4)), url(/uploads/sansevieria.webp);
    background-size: cover;
    background-position: center;
}

#sansevieria:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url(/uploads/sansevieria.webp);
    background-size: cover;
    background-position: center;
}

#cactus {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4)), url(/uploads/cactus.webp);
    background-size: cover;
    background-position: center;
}

#cactus:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url(/uploads/cactus.webp);
    background-size: cover;
    background-position: center;
}

/* White Standar H2 30px */
.white-standar-h2 {
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 400;
    color: #fff;
    margin: 0;
}

/* White Secondary H2 24px */
.white-secondary-h2 {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
    color: #fff;
    margin: 0;
}

/* White Standar P 18px */
.white-standar-p {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    color: #fff;
}

/* White Secondary P 16px */
.white-secondary-p {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    color: #fff;
}

/* White Button */
.white-button {
    background-color: #fff;
    margin: 10px 0px 0px 0px;
    padding: 16px 8px;
    border: 2px solid #fff;
    font-family: "Montserrat";
    font-size: 16px;
    font-style: normal;
    color: #393424;
    box-sizing: border-box;
}

.white-button:hover {
    background-color: #fff;
    margin: 10px 0px 0px 0px;
    padding: 16px 8px;
    border: 2px solid #393424;
    font-family: "Montserrat";
    font-size: 16px;
    font-style: normal;
    box-sizing: border-box;
}
/* Paleta de Colores: a6ebc9; 61FF7E; 5EEB5B; 62AB37; 393424, 5C5235 */